@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#root {
    height: 100vh;
    --color-gamma: hsl(138, 92%, 56%);
    --color-starlight: hsl(212, 100%, 57%);
    --color-quasar: hsl(299, 100%, 67%);
    --color-eclipse: hsl(236, 100%, 11%);
}

.errorPage {
    background-image: url("../../assets/errorPage.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    font-family: "Boldonse", system-ui;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(1rem, 4vw, 10rem);
    gap: 0.625em;
    p {
        text-transform: uppercase;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-2);
    height: 100%;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.main-container-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

.main-container-middle {
    border: 1px solid var(--clr-4);
    padding: 1rem;
    overflow-y: scroll;
    max-width: 1000px;
}
.main-container-middle::-webkit-scrollbar {
    width: 0.1875rem;
}
.main-container-middle::-webkit-scrollbar-track{
    background-color: var(--clr-1);
}

.main-container-middle::-webkit-scrollbar-thumb{
    background-color: var(--clr-4);
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    border: 1px solid var(--clr-4);
    img {
        display: block;
        width: 50px;
        object-fit: cover;
        max-width: 100%;
        cursor: pointer;
    }
    .practice-hub-large {
        display: none;
    }
    .leader-borad-larg {
        display: none;
    }
    .shop-large {
        display: none;
    }
}

/* practice hub */
.practice-hub {
    --margin-bottom: 0.85em;
    /* padding: 0.875rem 1rem; */
}

.practice-hub-title {
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.practice-hub-section {
    padding: 3rem 1rem;
    display: grid;
    flex-grow: 1;
    min-width: 70%;
    h2 {
        font-size: 1.2rem;
        color: white;
        font-weight: 700;
        width: 100%;
        text-wrap-style: pretty;
        margin-bottom: var(--margin-bottom);
    }
    img {
        margin-bottom: var(--margin-bottom);
        width: 100%;
        object-fit: contain;
        display: block;
    }
    div {
        font-size: 15px;
        color: white;
    }
}

.conversation {
    color: white;
    font-weight: 800;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.super-speak-contect {
    flex-grow: 1;
    padding-left: 0.85em;
    margin-block: 1rem;
    p {
        color: hsl(0, 0%, 80%);
        font-size: 14px;
    }
}

.super-speak {
    display: flex;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 4px solid;
    border-color: grey;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 3rem;
}
.speak-container {
    display: flex;
    align-items: center;
    p {
        color: white;
        font-size: 1.1rem;
        font-weight: 800;
    }
    img {
        margin-left: 10px;
        object-fit: cover;
        height: 20px;
        min-width: 5px;
        display: block;
    }
}

.mic-container {
    margin-top: auto;
    img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
}

.practice-hub-pefect {
    border-radius: 0.5em;
    background: radial-gradient(
            circle at 6% 3%,
            hsla(138, 92%, 56%, 0.3) 0%,
            hsla(212, 100%, 57%, 0.3) 52%,
            hsla(299, 100%, 67%, 0.3) 100%
        ),
        hsl(236, 100%, 11%);
    display: flex;
}
.test-side {
    margin-top: auto;
}
.lady {
    width: 100%;
    object-fit: cover;
}

/* Leader board */
.leader-board-primary {
    color: white;
    width: 80%;
    margin-inline: auto;
    img {
        width: 70%;
        margin-inline: auto;
        display: block;
        object-fit: cover;
        margin-bottom: 0.875rem;
    }
    p {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 800;
        margin-bottom: 0.5em;
    }
    .sub-text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .button-leaderBoard {
        cursor: pointer;
        width: fit-content;
        max-width: 100%;
        margin-inline: auto;
        padding: 0.875em 1em;
        background-color: var(--clr-3);
        font-weight: 700;
        border-radius: 0.875em;
        color: greenyellow;
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        border-bottom: 4px solid;
        border-color: greenyellow;
        outline: none;
        transition: scale 100ms ease;
    }
    .button-leaderBoard:active {
        scale: 0.9;
    }
}

@media (min-width: 800px) {
    .main-container {
        display: flex;
        flex-direction: row;
    }
    .main-container-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: start;
        border: 1px solid var(--clr-4);
        align-items: start;
        padding-block: 1rem;
    }
    .main-container-sidebar > * {
        padding: 0.875rem;
    }
    .test-lang {
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
    }
    .test-lang > p {
        display: block;
        padding: 0.875em;
    }
    .footer-section {
        display: none;
    }
}

/*  */

.heart-section {
    color: white;
    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 800;
    }
    .heart-refil {
        margin-block: 3em;
        display: flex;
        justify-content: space-between;
        padding-block: 0.875rem;
        gap: 0.625em;
        align-items: start;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        button {
            background-color: var(--clr-3);
            color: greenyellow;
            padding: 0.625em;
            border-radius: 4px;
            border: 2px solid greenyellow;
            outline: none;
            transition: scale 10ms ease;
        }
        button:active {
            scale: 0.9;
        }

        h3 {
            font-size: 2rem;
            font-weight: 800;
        }
    }
}

.testingggggg {
    background: linear-gradient(var(--gradient-angle), red, blue);
    padding: 0.875rem;
    border-radius: 0.5rem;
    animation: rotation 7000ms linear infinite;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}

@media (min-width: 900px) {
    .footer-section {
        display: block;
        place-content: stretch;
        width: 40%;
        padding: 1rem;

        /* practice hub  */

        .practice-hub {
            padding: 0.875rem 1rem;
            .practice-hub-mobile {
                display: none;
            }

            .practice-hub-large {
                display: grid;
                border-radius: 1.2rem;
                grid-template-columns: repeat(3, 1fr);
                color: white;
                padding: 0.675em;
                border: 2px solid grey;
            }

            .large-super-section {
                grid-column-start: 1;
                grid-column-end: 3;
                img {
                    margin-bottom: 0.85em;
                }
                .large-super-section-title {
                    font-weight: 800;
                    font-size: 1.5rem;
                }
                .large-super-section-subheading {
                    font-size: 0.875rem;
                    color: hsl(0, 0%, 80%);
                }
            }

            .large-birdy {
                place-content: end;
                width: 100%;
                img {
                    width: 100%;

                    display: block;
                    object-fit: cover;
                }
            }
            .buy-button {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: -1;
                margin: 0.875em;
                padding: 5px;
                border-radius: 5px;
                place-self: center;
                width: fit-content;
                text-align: center;
                max-width: 100%;
                font-weight: 800;
                background-color: blue;
            }
        }

        /* leader board */

        .leader-board-mobile {
            display: none;
        }
        .leader-borad-larg {
            display: grid;
            border: 2px solid grey;
            border-radius: 1.2rem;
            grid-template-columns: repeat(3, 1fr);
            padding: 0.875em;
            .leader-board-title {
                grid-column-start: 1;
                grid-column-end: -1;
                font-size: 1.12rem;
                font-weight: 800;
                margin-bottom: 0.875em;
                color: white;
            }
            .leader-board-about {
                grid-column-start: 1;
                grid-column-end: -1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.625em;
                img {
                }
                p {
                    color: hsl(0, 0%, 80%);
                }
            }
        }

        /* shop large */
        .shop-mobile {
            display: none;
        }
        .shop-large {
            display: block;
            border: 2px solid grey;
            margin-block: 1rem;
            border-radius: 1.2rem;
            padding: 0.8725rem;
            text-align: center;
            color: white;
            font-weight: 800;
            font-size: 1.3rem;
            background: radial-gradient(
                    circle at 6% 3%,
                    hsla(138, 92%, 56%, 0.3) 0%,
                    hsla(212, 100%, 57%, 0.3) 52%,
                    hsla(299, 100%, 67%, 0.3) 100%
                ),
                hsl(236, 100%, 11%);
        }
        .shop-section {
            border-radius: 1rem;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            p {
                grid-column: 2/5;

                place-self: center;
                font-size: 1.4rem;
                text-transform: uppercase;
                font-style: italic;
                color: hsl(0, 0%, 80%);
                text-align: start;
                margin-left: 0.625rem;
                font-weight: 800;
            }
        }
    }
    .footer-section > * {
        place-self: start;
        cursor: pointer;
    }
}
